sites/dev-biz/neos_debug/data/documents_simplified.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- XML Schema Generated from XML Document on Tue Jul 21 2020 18:09:50 GMT+0700 (Красноярск, стандартное время) -->
  <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
  <xs:element name="КоммерческаяИнформация">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Документ" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Ид" type="xs:int"></xs:element>
              <xs:element name="Номер" type="xs:int"></xs:element>
              <xs:element name="ХозОперация" type="xs:string"></xs:element>
              <xs:element name="СтатусЗаказа" type="xs:string"></xs:element>
              <xs:element name="ТрекНомер" type="xs:string" minOccurs="0"></xs:element>
              <xs:element name="Товары">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Товар" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Ид" type="xs:string"></xs:element>
                          <xs:element name="Артикул" type="xs:int"></xs:element>
                          <xs:element name="Наименование" type="xs:string"></xs:element>
                          <xs:element name="Цена" type="xs:float"></xs:element>
                          <xs:element name="Количество" type="xs:float"></xs:element>
                          <xs:element name="ЦенаДропшиппераЗаЕдиницу" type="xs:float" minOccurs="0"></xs:element>
                          <xs:element name="Сумма" type="xs:float"></xs:element>
                          <xs:element name="ХарактеристикиТовара" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ХарактеристикаТовара" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Наименование" type="xs:string"></xs:element>
                                      <xs:element name="Значение" type="xs:string"></xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ВерсияСхемы" type="xs:string"></xs:attribute>
      <xs:attribute name="ДатаФормирования" type="xs:string"></xs:attribute>
      <xs:attribute name="Ид" type="xs:int"></xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>