neos_debug/data/documents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- XML Schema Generated from XML Document on Tue Jul 21 2020 18:09:50 GMT+0700 (Красноярск, стандартное время) -->
  <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
  <xs:element name="КоммерческаяИнформация">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Документ" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Ид" type="xs:int"></xs:element>
              <xs:element name="Номер" type="xs:int"></xs:element>
              <xs:element name="Дата" type="xs:string"></xs:element>
              <xs:element name="ДатаИзменения" type="xs:string"></xs:element>
              <xs:element name="ХозОперация" type="xs:string"></xs:element>
              <xs:element name="Контрагенты">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Контрагент" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Ид" type="xs:int" minOccurs="0"></xs:element>
                          <xs:element name="Группа" type="xs:string" minOccurs="0"></xs:element>
                          <xs:element name="ПолноеНаименование" type="xs:string"></xs:element>
                          <xs:element name="Роль" type="xs:string"></xs:element>
                          <xs:element name="Фамилия" type="xs:string"></xs:element>
                          <xs:element name="Имя" type="xs:string"></xs:element>
                          <xs:element name="Отчество" type="xs:string"></xs:element>
                          <xs:element name="ДеньРождения" type="xs:string" minOccurs="0"></xs:element>
                          <xs:element name="Контакты">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Контакт" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Тип" type="xs:string"></xs:element>
                                      <xs:element name="Значение" type="xs:string"></xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Адрес">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Представление" type="xs:string"></xs:element>
                                <xs:element name="АдресноеПоле" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Тип" type="xs:string"></xs:element>
                                      <xs:element name="Значение" type="xs:string"></xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ПодарокЗаДоставку" type="xs:string" minOccurs="0"></xs:element>
              <xs:element name="ОписьВложения" type="xs:int" minOccurs="0"></xs:element>
              <xs:element name="ВозможностьПримерки" type="xs:int" minOccurs="0"></xs:element>
              <xs:element name="КодПунктаВыдачи" type="xs:string" minOccurs="0"></xs:element>
              <xs:element name="КодГородаСДЭК" type="xs:int" minOccurs="0"></xs:element>
              <xs:element name="ЧастичнаяДоставка" type="xs:int" minOccurs="0"></xs:element>
              <xs:element name="ОсмотрВложения" type="xs:int" minOccurs="0"></xs:element>
              <xs:element name="ТрекНомер" type="xs:string" minOccurs="0"></xs:element>
              <xs:element name="Комментарий" type="xs:string" minOccurs="0"></xs:element>
              <xs:element name="Итого" type="xs:float"></xs:element>
              <xs:element name="СуммаБезДоставки" type="xs:float"></xs:element>
              <xs:element name="Доставка" type="xs:float"></xs:element>
              <xs:element name="Предоплата" type="xs:float"></xs:element>
              <xs:element name="НаложенныйПлатеж" type="xs:float"></xs:element>
              <xs:element name="НаценкаДропшиппераНаЗаказ" type="xs:float" minOccurs="0"></xs:element>
              <xs:element name="Валюта" type="xs:string"></xs:element>
              <xs:element name="СпособДоставки" type="xs:string"></xs:element>
              <xs:element name="ДополнительнаяИнформацияОДоставке" type="xs:string"></xs:element>
              <xs:element name="СпособОплаты" type="xs:string"></xs:element>
              <xs:element name="ИсторияЗаказа">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ЗначениеРеквизита" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Статус" type="xs:string"></xs:element>
                          <xs:element name="Дата" type="xs:string"></xs:element>
                          <xs:element name="Комментарий" type="xs:string" minOccurs="0"></xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="СтатусЗаказа" type="xs:string"></xs:element>
              <xs:element name="ОбменПоЗаказу" type="xs:int" minOccurs="0"></xs:element>
              <xs:element name="Чеки" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Чек" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Ссылка" type="xs:string"></xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="КомментарииМенеджера" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Комментарий" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Дата" type="xs:string"></xs:element>
                          <xs:element name="Текст" type="xs:string"></xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ДанныеПоПредоплате" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Предоплата" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ИдПартнера" type="xs:int"></xs:element>
                          <xs:element name="ТипПартнера" type="xs:string"></xs:element>
                          <xs:element name="Сумма" type="xs:float"></xs:element>
                          <xs:element name="СтатусЗаказа" type="xs:string"></xs:element>
                          <xs:element name="ФиоПокупателя" type="xs:string"></xs:element>
                          <xs:element name="ПочтаПокупателя" type="xs:string"></xs:element>
                          <xs:element name="ТелефонПокупателя" type="xs:string"></xs:element>
                          <xs:element name="ДатаСоздания" type="xs:string"></xs:element>
                          <xs:element name="ДатаОплаты" type="xs:string" minOccurs="0"></xs:element>
                          <xs:element name="ДатаПрикрепленияКОрдеру" type="xs:string" minOccurs="0"></xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Товары">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Товар" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Ид" type="xs:int"></xs:element>
                          <xs:element name="Артикул" type="xs:int"></xs:element>
                          <xs:element name="Наименование" type="xs:string"></xs:element>
                          <xs:element name="Количество" type="xs:float"></xs:element>
                          <xs:element name="ЦенаЗаЕдиницу" type="xs:float"></xs:element>
                          <xs:element name="ЦенаДропшиппераЗаЕдиницу" type="xs:float" minOccurs="0"></xs:element>
                          <xs:element name="Сумма" type="xs:float"></xs:element>
                          <xs:element name="ХарактеристикиТовара" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ХарактеристикаТовара" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Наименование" type="xs:string"></xs:element>
                                      <xs:element name="Значение" type="xs:string"></xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ВерсияСхемы" type="xs:string"></xs:attribute>
      <xs:attribute name="ДатаФормирования" type="xs:string"></xs:attribute>
      <xs:attribute name="Ид" type="xs:int"></xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>